
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <script src="/resources/lib/js/react.min.js"></script>
    <script src="/resources/lib/js/react-dom.min.js"></script>
    <script src="/resources/lib/js/babel.min.js"></script>
    <script src="/resources/lib/js/jquery-3.2.1.min.js"></script>

</head>
<body>
<!--<h2>Hello world</h2>-->
<div id="root"></div>
<script src="/public/bundle.js"></script>
</body>
</html>
